name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-lastest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        run: pytest

docker:
  needs: test
  runs-on: ubuntu-lastest
  if: github.ref == 'refs/heads/main'

  steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set image tag
      id: vars
      run: echo "tag=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/asl-svm-spi:lastest
          ${{ secrets.DOCKERHUB_USERNAME }}/asl-svm-api:${{ steps.vars.outputs.tag }}

  deploy:
    needs: docker
    runs-on: ubuntu-lastest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Trigger deploy webhook
        run: |
          curl -X POST "${{ secrets.DEPLOY_WEBHOOK_URL }}"

